{{> header}}

    {{> navbar}}


    <div class="row">
        <div class="col-8">
            <h1>Capitán América</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Laborum quod maxime nulla iure dicta similique temporibus itaque 
                corrupti odio recusandae explicabo 
                voluptates, excepturi dolores dignissimos? Odio nisi adipisci autem error.</p>
        </div>
        <div class="col-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ-MJlL9vpXqgdt2N5O8byMKj8XQCz0xxJF9UNeRu3_7y1zvCacw" class="img-thumbnail"alt="">
        </div>
    </div>

{{> footer}}